<html>
    <head>
        <link rel="stylesheet" href="css/style.css" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body id = "backgroundSettings">
        <nav class = "teal navPadding">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo"><i class="material-icons">poll</i>Pokémon Quiz</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="about.erb">About</a></li>
            <li><a href="index3.erb">Quiz</a></li>
          </ul>
        </div>
      </nav>
<br>
<br>
<div class="row center-cols center-align">
    <div class="col m4">
      <div class="card">
        <div class="card-image">
          <img src="css/about2.jpg">
          <span class="card-title">Elvis Maliza</span>
        </div>
        <div class="card-content">
          <p>Hello! My passion includes photography, traveling, cycling, and coding!</p>
        </div>
        <div class="card-action">
          <a href="https://www.instagram.com/elvis255/"><i class="material-icons">photo_camera</i></a>
        </div>
      </div>
    </div>
    <div class="col m4">
      <div class="card">
        <div class="card-image">
          <img src="css/about.jpg">
          <span class="card-title">Malachy O'Hare</span>
        </div>
        <div class="card-content">
          <p>Hello! My passion includes cats.</p>
        </div>
        <div class="card-action">
          <a href="https://www.instagram.com/peak.of.human.evolution/"><i class="material-icons">photo_camera</i></a>
        </div>
      </div>
    </div>
  </div>
  
 
    </body>
</html>